<!-- Top level template for the chat page -->
<template name="chat_page">

  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h3>You're talking to{{other_user_name}}</h3>
      <br>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="">
        {{#each messages}}
          {{> chat_message}}
        {{/each}}
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-12">
      <form class="js-send-chat">
        <div class="form-group">
          <input class="form-control" data-emojiable="true" type="text" name="chat" placeholder="type a message here..." />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
        <button class="btn btn-primary btn-block">Send</button>
      </div>
      </form>
      <div class="col-xs-12 col-sm-6 col-md-6">
      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">
        Emojis
      </button>
    </div>
    <br><br><br>
      <div id="myModal" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Emoticons.</h4>
                      <h6>Highlight over an emoji you would like to add. <i>Ctrl-C</i> and <i>Ctrl-V</i>.</h6>
                  </div>
                  <div class="modal-body">
                    <h3>People</h3>
                    {{#emoji}}
                    <p>
                      :smile:
                      :laughing:
                      :blush:
                      :smiley:
                      :relaxed:
                      :smirk:
                      :heart_eyes:
                      :kissing_heart:
                      :kissing_closed_eyes:
                      :flushed:
                      :relieved:
                      :stuck_out_tongue_winking_eye:
                      :stuck_out_tongue_closed_eyes:
                      :grinning:
                      :kissing:
                      :kissing_smiling_eyes:
                      :stuck_out_tongue:
                      :sleeping:
                      :worried:
                      :frowning:
                      :anguished:
                      :open_mouth:
                      :grimacing:
                      :confused:
                      :hushed:
                      :expressionless:
                      :unamused:
                      :sweat_smile:
                      :sweat:
                      :disappointed_relieved:
                      :weary:
                      :pensive:
                      :disappointed:
                      :confounded:
                      :fearful:
                      :cold_sweat:
                      :persevere:
                      :astonished:
                      :scream:
                      :tired_face:
                      :angry:
                      :triumph:
                      :sleepy:
                      :sunglasses:
                      :dizzy_face:
                      :smiling_imp:
                      :neutral_face:
                      :no_mouth:
                      :innocent:
                      :alien:
                      :yellow_heart:
                      :blue_heart:
                      :purple_heart:
                      :heart:
                      :green_heart:
                      :broken_heart:
                      :heartbeat:
                      :heartpulse:
                      :two_hearts:
                      :revolving_hearts:
                      :cupid:
                      :sparkling_heart:
                      :sparkles:
                      :star2:
                      :dizzy:
                      :anger:
                      :exclamation:
                      :question:
                      :grey_exclamation:
                      :grey_question:
                      :sweat_drops:
                      :notes:
                      :musical_note:
                      :hankey:
                      :ok_hand:
                      :facepunch:
                      :open_hands:
                      :point_up:
                      :point_down:
                      :point_left:
                      :point_right:
                      :raised_hands:
                      :point_up_2:
                      :muscle:
                      :runner:
                      :couple:
                      :family:
                      :two_men_holding_hands:
                      :two_women_holding_hands:
                      :dancer:
                      :dancers:
                      :ok_woman:
                      :no_good:
                      :information_desk_person:
                      :raising_hand:
                      :bride_with_veil:
                      :person_with_pouting_face:
                      :person_frowning:
                      :couplekiss:
                      :couple_with_heart:
                      :massage:
                      :haircut:
                      :nail_care:
                      :woman:
                      :older_woman:
                      :older_man:
                      :person_with_blond_hair:
                      :man_with_gua_pi_mao:
                      :man_with_turban:
                      :construction_worker:
                      :angel:
                      :princess:
                      :smiley_cat:
                      :smile_cat:
                      :heart_eyes_cat:
                      :kissing_cat:
                      :smirk_cat:
                      :scream_cat:
                      :crying_cat_face:
                      :joy_cat:
                      :pouting_cat:
                      :japanese_ogre:
                      :japanese_goblin:
                      :see_no_evil:
                      :hear_no_evil:
                      :speak_no_evil:
                      :guardsman:
                      :skull:
                      :droplet:
                      :tongue:
                      :love_letter:
                      :bust_in_silhouette:
                      :busts_in_silhouette:
                      :speech_balloon:
                      :thought_balloon:
                  </p>
                  {{/emoji}}
                    <h3>Nature</h3>
                    <p>{{#emoji}}
                      :sunny:
                      :umbrella:
                      :cloud:
                      :snowflake:
                      :snowman:
                      :cyclone:
                      :foggy:
                      :ocean:
                      :mouse:
                      :hamster:
                      :rabbit:
                      :tiger:
                      :koala:
                      :pig_nose:
                      :monkey_face:
                      :monkey:
                      :horse:
                      :racehorse:
                      :camel:
                      :sheep:
                      :elephant:
                      :panda_face:
                      :snake:
                      :baby_chick:
                      :hatched_chick:
                      :hatching_chick:
                      :chicken:
                      :penguin:
                      :turtle:
                      :beetle:
                      :snail:
                      :octopus:
                      :tropical_fish:
                      :whale:
                      :whale2:
                      :dolphin:
                      :water_buffalo:
                      :tiger2:
                      :rabbit2:
                      :dragon:
                      :rooster:
                      :mouse2:
                      :dragon_face:
                      :blowfish:
                      :crocodile:
                      :dromedary_camel:
                      :leopard:
                      :poodle:

                      :bouquet:
                      :cherry_blossom:
                      :tulip:
                      :four_leaf_clover:
                      :sunflower:
                      :hibiscus:
                      :maple_leaf:
                      :leaves:
                      :fallen_leaf:
                      :mushroom:
                      :cactus:
                      :palm_tree:
                      :evergreen_tree:
                      :deciduous_tree:
                      :chestnut:
                      :seedling:
                      :blossom:
                      :ear_of_rice:
                      :shell:
                      :globe_with_meridians:
                      :sun_with_face:
                      :full_moon_with_face:
                      :new_moon_with_face:
                      :new_moon:
                      :waxing_crescent_moon:
                      :first_quarter_moon:
                      :full_moon:
                      :waning_gibbous_moon:
                      :last_quarter_moon:
                      :waning_crescent_moon:
                      :last_quarter_moon_with_face:
                      :first_quarter_moon_with_face:
                      :crescent_moon:
                      :earth_africa:
                      :earth_americas:
                      :earth_asia:
                      :volcano:
                      :milky_way:
                      :partly_sunny:
                      {{/emoji}}</p>
                    <h3>Objects</h3>
                    <p>{{#emoji}}
                      :bamboo:
                      :gift_heart:
                      :dolls:
                      :school_satchel:
                      :mortar_board:
                      :flags:
                      :fireworks:
                      :sparkler:
                      :wind_chime:
                      :rice_scene:
                      :jack_o_lantern:
                      :ghost:
                      :santa:
                      :christmas_tree:
                      :no_bell:
                      :tanabata_tree:
                      :confetti_ball:
                      :balloon:
                      :crystal_ball:
                      :floppy_disk:
                      :camera:
                      :video_camera:
                      :movie_camera:
                      :computer:
                      :iphone:
                      :phone:

                      :telephone_receiver:
                      :pager:
                      :minidisc:
                      :sound:
                      :speaker:
                      :loudspeaker:
                      :hourglass:
                      :hourglass_flowing_sand:
                      :alarm_clock:
                      :watch:
                      :radio:
                      :satellite:
                      :mag_right:
                      :unlock:
                      :lock_with_ink_pen:
                      :closed_lock_with_key:
                      :flashlight:
                      :high_brightness:
                      :low_brightness:
                      :electric_plug:
                      :battery:
                      :calling:
                      :email:
                      :mailbox:
                      :postbox:
                      :bathtub:
                      :shower:
                      :toilet:
                      :wrench:
                      :nut_and_bolt:
                      :hammer:
                      :moneybag:
                      :dollar:
                      :pound:
                      :credit_card:
                      :money_with_wings:
                      :e-mail:
                      :inbox_tray:
                      :outbox_tray:

                      :incoming_envelope:
                      :postal_horn:
                      :mailbox_closed:
                      :mailbox_with_mail:
                      :mailbox_with_no_mail:
                      :package:
                      :smoking:
                      :hocho:
                      :syringe:
                      :page_facing_up:
                      :page_with_curl:
                      :bookmark_tabs:
                      :bar_chart:
                      :chart_with_upwards_trend:
                      :chart_with_downwards_trend:
                      :scroll:
                      :clipboard:
                      :calendar:
                      :card_index:
                      :file_folder:
                      :open_file_folder:
                      :scissors:
                      :pushpin:
                      :paperclip:
                      :black_nib:
                      :pencil2:
                      :straight_ruler:
                      :triangular_ruler:
                      :closed_book:
                      :green_book:
                      :blue_book:
                      :orange_book:
                      :notebook:
                      :notebook_with_decorative_cover:
                      :ledger:
                      :books:
                      :bookmark:
                      :name_badge:
                      :microscope:
                      :telescope:
                      :newspaper:
                      :football:
                      :basketball:
                      :soccer:
                      :baseball:
                      :tennis:
                      :8ball:
                      :rugby_football:
                      :bowling:
                      :mountain_bicyclist:
                      :bicyclist:
                      :horse_racing:
                      :snowboarder:
                      :swimmer:
                      :surfer:
                      :spades:
                      :hearts:
                      :clubs:
                      :diamonds:
                      :trophy:
                      :musical_score:
                      :musical_keyboard:
                      :violin:
                      :space_invader:
                      :video_game:
                      :black_joker:
                      :flower_playing_cards:
                      :game_die:
                      :mahjong:
                      :clapper:

                      :microphone:
                      :headphones:
                      :trumpet:
                      :saxophone:
                      :guitar:
                      :sandal:
                      :high_heel:
                      :lipstick:
                      :shirt:

                      :necktie:
                      :womans_clothes:
                      :dress:
                      :running_shirt_with_sash:
                      :jeans:
                      :kimono:
                      :bikini:
                      :ribbon:
                      :tophat:
                      :crown:
                      :womans_hat:
                      :mans_shoe:
                      :closed_umbrella:
                      :briefcase:
                      :handbag:
                      :pouch:
                      :purse:
                      :eyeglasses:
                      :fishing_pole_and_fish:
                      :coffee:
                      :baby_bottle:
                      :beers:
                      :cocktail:
                      :tropical_drink:
                      :wine_glass:
                      :fork_and_knife:
                      :pizza:
                      :hamburger:
                      :fries:
                      :poultry_leg:
                      :meat_on_bone:
                      :spaghetti:
                      :curry:
                      :fried_shrimp:
                      :bento:
                      :sushi:
                      :fish_cake:
                      :rice_ball:
                      :rice_cracker:
                      :ramen:
                      :dango:
                      :bread:
                      :doughnut:
                      :custard:
                      :icecream:
                      :ice_cream:
                      :shaved_ice:
                      :birthday:
                      :cookie:
                      :chocolate_bar:
                      :candy:
                      :lollipop:
                      :honey_pot:
                      :apple:
                      :green_apple:
                      :tangerine:
                      :lemon:
                      :cherries:
                      :grapes:
                      :watermelon:
                      :strawberry:
                      :peach:
                      :melon:
                      :banana:
                      :pineapple:
                      :sweet_potato:
                      :eggplant:
                      :tomato:
                    {{/emoji}}</p>
                    <h3>Places</h3>
                    <p>{{#emoji}}
                      :house:
                      :house_with_garden:
                      :school:
                      :office:
                      :post_office:
                      :hospital:
                      :convenience_store:
                      :love_hotel:
                      :hotel:
                      :wedding:
                      :church:
                      :department_store:
                      :european_post_office:
                      :city_sunrise:
                      :city_sunset:
                      :japanese_castle:
                      :european_castle:
                      :factory:
                      :tokyo_tower:
                      :japan:
                      :mount_fuji:
                      :sunrise_over_mountains:
                      :sunrise:
                      :stars:
                      :statue_of_liberty:
                      :bridge_at_night:
                      :carousel_horse:
                      :rainbow:
                      :ferris_wheel:
                      :fountain:
                      :roller_coaster:
                      :speedboat:

                      :rowboat:
                      :anchor:
                      :rocket:
                      :airplane:
                      :helicopter:
                      :steam_locomotive:
                      :mountain_railway:
                      :aerial_tramway:
                      :suspension_railway:
                      :mountain_cableway:
                      :tractor:
                      :blue_car:
                      :oncoming_automobile:

                      :oncoming_taxi:
                      :articulated_lorry:
                      :oncoming_bus:
                      :rotating_light:
                      :police_car:
                      :oncoming_police_car:
                      :fire_engine:
                      :ambulance:
                      :minibus:
                      :truck:
                      :train:
                      :station:
                      :train2:
                      :bullettrain_front:
                      :bullettrain_side:
                      :light_rail:
                      :monorail:
                      :railway_car:
                      :trolleybus:
                      :ticket:
                      :fuelpump:
                      :vertical_traffic_light:
                      :traffic_light:
                      :warning:
                      :construction:
                      :beginner:
                      :slot_machine:
                      :busstop:
                      :barber:
                      :hotsprings:
                      :checkered_flag:
                      :crossed_flags:
                      :izakaya_lantern:
                      :moyai:
                      :circus_tent:
                      :performing_arts:
                      :round_pushpin:
                      :triangular_flag_on_post:
                    {{/emoji}}</p>
                    <h3>Symbols</h3>
                    <p>{{#emoji}}
                      :keycap_ten:
                      :symbols:
                      :arrow_backward:
                      :arrow_down:
                      :arrow_forward:
                      :arrow_left:
                      :capital_abcd:
                      :arrow_lower_left:
                      :arrow_lower_right:
                      :arrow_right:
                      :arrow_up:
                      :arrow_upper_left:
                      :arrow_upper_right:
                      :arrow_double_down:
                      :arrow_double_up:
                      :arrow_down_small:
                      :arrow_heading_down:
                      :arrow_heading_up:
                      :leftwards_arrow_with_hook:
                      :arrow_right_hook:
                      :left_right_arrow:
                      :arrow_up_down:
                      :arrow_up_small:
                      :arrows_clockwise:
                      :arrows_counterclockwise:
                      :rewind:
                      :fast_forward:
                      :information_source:
                      :twisted_rightwards_arrows:
                      :repeat:
                      :repeat_one:
                      :cinema:
                      :signal_strength:
                      :u5272:
                      :u5408:
                      :u55b6:
                      :u6307:
                      :u6708:
                      :u6709:
                      :u6e80:
                      :u7121:
                      :u7533:
                      :u7a7a:
                      :u7981:
                      :restroom:
                      :womens:
                      :baby_symbol:
                      :no_smoking:
                      :parking:
                      :wheelchair:
                      :metro:
                      :baggage_claim:
                      :accept:
                      :potable_water:
                      :put_litter_in_its_place:
                      :secret:
                      :congratulations:
                      :passport_control:
                      :left_luggage:
                      :customs:
                      :ideograph_advantage:
                      :no_entry_sign:
                      :underage:
                      :no_mobile_phones:
                      :do_not_litter:
                      :non-potable_water:
                      :no_bicycles:
                      :no_pedestrians:
                      :children_crossing:
                      :no_entry:
                      :eight_spoked_asterisk:
                      :sparkle:
                      :eight_pointed_black_star:
                      :heart_decoration:
                      :vibration_mode:
                      :mobile_phone_off:
                      :chart:
                      :currency_exchange:
                      :aries:
                      :taurus:
                      :gemini:
                      :cancer:
                      :virgo:
                      :libra:
                      :scorpius:
                      :sagittarius:
                      :capricorn:
                      :aquarius:
                      :pisces:
                      :ophiuchus:
                      :six_pointed_star:
                      :negative_squared_cross_mark:
                      :diamond_shape_with_a_dot_inside:
                      :recycle:
                      :clock1:
                      :clock130:
                      :clock10:
                      :clock1030:
                      :clock11:
                      :clock1130:
                      :clock12:
                      :clock1230:
                      :clock2:
                      :clock230:
                      :clock3:
                      :clock330:
                      :clock4:
                      :clock430:
                      :clock5:
                      :clock530:
                      :clock6:
                      :clock630:
                      :clock7:
                      :clock730:
                      :clock8:
                      :clock830:
                      :clock9:
                      :clock930:
                      :heavy_dollar_sign:
                      :copyright:
                      :registered:
                      :bangbang:
                      :interrobang:
                      :heavy_multiplication_x:
                      :heavy_plus_sign:
                      :heavy_minus_sign:
                      :heavy_division_sign:
                      :white_flower:
                      :heavy_check_mark:
                      :ballot_box_with_check:
                      :radio_button:
                      :curly_loop:
                      :wavy_dash:
                      :part_alternation_mark:
                      :trident:
                      :black_small_square:
                      :white_small_square:
                      :black_medium_small_square:
                      :white_medium_small_square:
                      :black_medium_square:
                      :white_medium_square:
                      :black_large_square:
                      :white_large_square:
                      :white_check_mark:
                      :black_square_button:
                      :white_square_button:
                      :black_circle:
                      :white_circle:
                      :red_circle:
                      :large_blue_circle:
                      :large_blue_diamond:
                      :large_orange_diamond:
                      :small_blue_diamond:
                      :small_orange_diamond:
                      :small_red_triangle:
                      :small_red_triangle_down:
                    {{/emoji}}</p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              </div>
              <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>
  </div>
</template>
