<template name="landing_page">
 <h1 class="text-center" style=";">Welcome to Minstant!</h1>
  <div class="row" style="color#2196f3;">
    <div class="col-xs-12 col-sm-6">
      <h3 style=";">List of test users for easy copy/pasting:</h3>
      <ul>
        <li>user1@test.com - test123</li>
        <li>user2@test.com - test123</li>
        <li>user3@test.com - test123</li>
        <li>user4@test.com - test123</li>
        <li>user5@test.com - test123</li>
        <li>user6@test.com - test123</li>
        <li>user7@test.com - test123</li>
        <li>user8@test.com - test123</li>
      </ul>
   </div>
    </div>
</template>
